body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  margin: 10px;
  transition: all 1s;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.move-down:hover {
  transform: translateY(100px);
}
